
.mainChaleng{
    display: flex;
}


.boxs {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16 , 40px);
    grid-template-rows: repeat(16 ,40px);
    grid-gap: 6px;
   
   
}

.zone {
    border: 1px solid black;
    
}

.orange{
    background-color: orange;
}

.brown{
    background-color: rgb(216, 199, 146);;
}

.Chocolate{
    background-color: Chocolate;;
}

.GhostWhite{
    background-color: GhostWhite;
}

.Gainsboro{
    background-color: Gainsboro;
}

.DimGray{
    background-color: DimGray;
}

.black{
    background-color: black;
}

.section2{
  
    display: grid;
    grid-template-columns: repeat(16 , 40px);
    grid-template-rows: repeat(16 ,40px);
    grid-gap: 4px;
}

.card{
    border: 1px solid black;
}

.section3{
    display: grid;
    grid-template-columns: repeat(16 , 40px);
    grid-template-rows: repeat(9 ,40px);
}

.box{
    border: 1px solid black;
}

.white{
    background-color: #fff;
    border-color: #fff;

}

.darkRed {
    background-color: #D83E3B;
    border-color: #D83E3B;
}

.lightRed {
    background-color: #E67F7E;
    border-color: #E67F7E;
}

.LightCoral{
    background-color: LightCoral;
}

.red{
    background-color: red;
}